body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.red-headline {
  font-weight: 600;
  color: #C31815;
}

header nav {
  font-family: 'Nunito Sans', sans-serif;
}

header nav ul {
  width: 550px;
  text-decoration: none;
}

header nav ul li {
  list-style-type: none;
  font-weight: 300;
  font-size: 17px;
  text-align: center;
}

header nav ul li a {
  display: block;
  color: #2A2A2A;
}

header .doviz-table {
  list-style-type: none;
}

header .doviz-table li a {
  text-decoration: none;
  color: #2A2A2A;
  font-size: 15px;
  font-weight: 500;
}

header .doviz-table li span {
  font-size: 15px;
  font-weight: 300;
}

header .doviz-table li i.icon-up::before {
  content: url("/images/icon/up.png");
}

header .doviz-table li i.icon-down::before {
  content: url("/images/icon/down.png");
}

.alert {
  width: 84%;
  background-color: #C31815;
}

.article-posts ul {
  height: 54px;
}

.article-posts ul .nav-item .nav-link {
  color: black;
  font-weight: 500;
  font-size: 17px;
}

.article-posts ul .nav-item .nav-link.active {
  background-color: white;
}

.article-posts ul .nav-item .nav-link.active::after {
  height: 2px;
  display: block;
  width: 40px;
  background: #C31815;
  border-right: 1px white;
  content: '';
}

.article-posts article {
  margin-bottom: 10px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.article-posts article .post-title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  font-family: 'IBM Plex Serif', serif;
}

.article-posts article .card-text .article-text {
  font-weight: 300;
  font-size: 14px;
  max-height: 158px;
  min-height: 140px;
}

.article-posts article .date {
  font-size: 15px;
  font-weight: 200;
}

.article-posts .card-footer {
  background-color: white;
}

.article-posts .card-footer a {
  margin-right: 30px;
  font-size: 14px;
  text-decoration: none;
  color: #2A2A2A;
}

.img-overlay-text {
  top: 27%;
  padding: 39px;
  color: white;
}

.table-tickers {
  background-color: white;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  max-height: 348px;
  margin-bottom: 25px;
}

.table-tickers thead {
  border-bottom: 0.5px solid #C31815;
  font-size: 17px;
}

.table-tickers thead th {
  padding: 13px;
}

.table-tickers tbody td {
  border-bottom: 0.5px solid #C0C0C0;
  padding: 10px;
}

.table-tickers tbody .cins {
  color: black;
  font-weight: 600;
}

.table-tickers tbody .up {
  color: #3CB371;
}

.table-tickers tbody .down {
  color: #C31815;
}

.table-tickers tbody .diffrence {
  color: #006400;
}

.swiper-slide .card-img img {
  max-height: 125px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin-top: 10px;
}

@media (min-width: 960px) {
  .nav-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar-nav {
    width: 80% !important;
  }
  .doviz-table {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 960px) {
  .tickers {
    max-width: 100%;
    overflow-x: scroll;
  }
  .navbar-nav {
    width: 100% !important;
  }
  .navbar-nav li {
    margin-bottom: 5px;
  }
  .doviz-table {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 760px) {
  .headline-carousel {
    position: absolute;
    z-index: 10000;
    padding: 10px 50px;
    /* background-color: red; */
    top: -100px;
  }
  .headline-carousel a {
    color: white;
  }
}

@media (max-width: 460px) {
  nav {
    background-color: red !important;
  }
}
/*# sourceMappingURL=style.css.map */