

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.red-headline{
    font-weight: 600;
    color: #C31815;
}

header{
   
    nav{
  
        font-family: 'Nunito Sans', sans-serif;
        ul{
            width: 550px;
            text-decoration: none;
            
            
            li{
                list-style-type: none;
                font-weight: 300;
                font-size: 17px;
                text-align: center;
                a{
                    display: block;
                    color: #2A2A2A;
                }
            }
        }
      
    }
    .doviz-table{
        list-style-type: none;

         li{
            a{
               text-decoration: none;
               color: #2A2A2A;
               font-size: 15px;
               font-weight: 500;
               
            }
            span{
                font-size: 15px;
                font-weight: 300;

            }
        }
         
        li i.icon-up::before{
            content: url("/images/icon/up.png");
         }
         li i.icon-down::before{
             content: url("/images/icon/down.png");
          }
        
    }

}

.carousel-control-prev span, .carousel-control-next span{ 
   background-color: #DC3C45;;
}
.carousel-control-next, .carousel-control-prev {
    width: 2%!important;
}
.headline-carousel a{
    color: #333333;
}


.alert{
    width: 84%;
    background-color: #C31815;
}


.article-posts{
    
   ul{
       height: 54px;
       .nav-item{
            
           .nav-link{
              color: black;
              font-weight: 500;
              font-size: 17px;
            &.active{
             background-color: white;
             
             &::after{
                height: 2px;
                 display: block;
                 width: 40px;
                  background:#C31815;
                 border-right: 1px white;
                  content: '';
                
             }
            }

           }
       }
   }
   article{
   
    margin-bottom: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   
       .card-title{
        display: block;
        padding: 5px 10px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 27px;
        font-family: 'IBM Plex Serif', serif;
        margin-bottom: 0px!important;
       }
       .card-text{
           padding: 10px;
        .article-text{
            font-weight: 300;
            font-size: 14px;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            
       }

       } 
       
       .date{
           font-size: 15px;
           font-weight: 200;
       }
   }


}
.img-overlay-text{
    top: 27%;
    padding: 39px;
    color: white;
}

.table-tickers{
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    max-height: 348px;
    margin-bottom: 25px;
    
    thead{
      border-bottom: 0.5px solid #C31815 ;
      font-size: 17px;
      th{
          padding: 13px;
       }
    }
    tbody{
       td{
           border-bottom: 0.5px solid #C0C0C0;
           padding: 10px;
       }
      .cins{
          color: black;
          font-weight: 600;  
      }
      .up{
          color: #3CB371;
      }
      .down{
          color:#C31815 ;
      }
      .diffrence{
        color: #006400 ;
      }
    }
}

.swiper-slide{
   
    padding-right: 10px;
    .card-img img{
        max-height: 125px;
        object-fit: cover;
        object-position: top;
        margin-top: 10px;
       
    }
}

//media query
@media(min-width:960px){
    .nav-container{
        justify-content: space-between;
    }
    .navbar-nav{
        width: 80%!important;

    }
    .doviz-table{
        justify-content: space-evenly;
    }
    .article-posts article{
        min-height: 391px;
        max-height: 391px;
    }
   
   

    
}


@media(max-width:960px){
  
    .tickers{
        max-width: 100%;
     overflow-x: scroll;
    }
    .navbar-nav{
        width: 100%!important;
       li{
           margin-bottom: 5px;
       }
    }
    
    .doviz-table{
        justify-content: space-between;
    }

    .carousel-control-next, .carousel-control-prev {
        width: 10%!important;
    }
   
   
   
}

@media(max-width:760px){
    .headline-carousel{ 
        position: absolute;
        z-index: 10000;
        
        padding: 10px 50px;
        /* background-color: red; */
        top: -100px;
        a{
           
            color: white;
           
        }
    }
    
}

@media(max-width:460px){
   nav{
       background-color: red!important;
   }
}

